.logo.PanInput .mouse {
    position: absolute;
    width: 30px;
    height: 40px;
    border-radius: 15px;
    left: 20%;
    bottom: 20%;
    border: 2px solid #999;
    
    overflow: hidden;
    transform: scale(1);
}
.logo.PanInput .mouse-left-button, .logo.PanInput .mouse-right-button {
    position: absolute;
    top: 0;
    width: 50%;
    height: 40%;
    border-bottom: inherit;
}
.logo.PanInput .mouse-left-button {
    left: 0;
    border-right: inherit;
}
.logo.PanInput .mouse-right-button {
    left: 50%;
}

.logo.PanInput .logo-input-area .mouse {
    animation: move 12s ease-in-out 0s infinite forwards;
}
.logo.PanInput .logo-input-area .mouse-left-button {
    animation: click 3s ease-in-out 0s infinite forwards;
}
.logo.PanInput .logo-view-area .object {
    animation: move 12s ease-in-out 0s infinite forwards;
}
.logo.PanInput .object-position .object-position-x:after {
    animation: numbering 12s ease-in-out 0s infinite forwards;
}
.logo.PanInput .object-position .object-position-y:after {
    animation: minus-numbering 12s ease-in-out 3s infinite forwards;
}
@keyframes click {
    0% {
        background: transparent;
        color: #999;
    }
    10% {
        background: #999;
        color: white;
    }
    40% {
        background: transparent;
        color: #999;
    }
}