<div class="docs-inner {{include.input.name}}" style="display:none;">
    <h2 class="title text-center">{{include.input.name}}</h2>
    <p>
        {{include.input.description}}
    </p>
    <div class="logo {{input.name}}">
        <div class="logo-input-area">
            {% for input in site.data.egjs.inputs %}
            {% include_relative assets/html/logo/{{include.input.name}}.html %}
            {% endfor %}
        </div>
        <div class="logo-view-area">
            <div class="dot left top"></div>
            <div class="dot left bottom"></div>
            <div class="dot right top"></div>
            <div class="dot right bottom"></div>
            <div class="object">
                <div class="object-position">
                    ({% for target in include.input.object %}<span class="object-position-{{target}}">{{target}}: </span>{% endfor %})
                </div>
            </div>
        </div>
    </div>
    <div class="example highlighter-rouge">
        {% highlight js %}{{include.input.js}}{% endhighlight %}
    </div>
    <ul class="demo-list">
        {% for demo in include.input.demos %}
        <li class="demo-item"><a href="./assets/html/{{demo.file}}.html" target="_blank"><p><img src="./assets/image/demos/{{demo.file}}.gif" /></p><p>{{demo.name}}</p></a></li>
        {% endfor %}
    </ul>
</div>