<!DOCTYPE html>
<html lang="en">
{% include head.html %}
{% for css in site.data.egjs.css %}
	<link rel="stylesheet" href="{{ css }}">
{% endfor %}
{% for dist in site.data.egjs.dist %}
	<script src="{{ dist }}"></script>
{% endfor %}
{% for input in site.data.egjs.inputs %}
<link rel="stylesheet" href="./assets/css/logo/{{input.name}}.css">
{% endfor %}
<link rel="stylesheet" href="./common/css/input.css">
<script>
	var homeUrl = window.location.href;
	if (homeUrl.indexOf("#") !== -1) {
		homeUrl = homeUrl.substr(0, homeUrl.indexOf("#"));
	}
	homeUrl = homeUrl
		.replace("/index.html", "/")
		.replace("/gallery.html", "/");
	if (homeUrl[homeUrl.length-1] !== "/") {
		homeUrl += "/";
	};
	window.HOMELINK = homeUrl;
	window.LIBLINK = [];
	{% for dist in site.data.egjs.dist %}
	window.LIBLINK.push(window.HOMELINK + "{{ dist }}");
	{% endfor %}
</script>
<body>
{% include facebook.html %}
{% include header.html %}
{% include promo.html %}
<div>
	<section id="showcase" class="docs section showcase">
		<div class="container">
			<div class="docs-inner">
				<h2 class="title text-center">Showcase</h2>
				<div class="demobox showcase" codepen="character">
					<div id="__react-content"></div>
				</div>
				<div class="newwindow">
					<a href="./assets/html/character.html" target="_blank">Open a showcase in a new window</a>
				</div>
			</div>
		</div>
	</section>
	<section id="index" class="docs section index">
		<div class="container">
			<div class="docs-inner">
				<p class="text-center">
					<a href="#getting-started">Getting Started </a>/ 
					<a href="#inputs"> Inputs &amp; Demos </a>/
					<a href="#projects"> Projects </a>
				</p>
			</div>
		</div>
	</section>
	<section id="getting-started" class="docs section started">
		<div class="container">
			<div class="docs-inner">
				<h2 class="title text-center">Getting Started</h2>
				{% capture started %}{% include_relative started.md %}{% endcapture %}
				{{ started | markdownify }}
			</div>
		</div>
	</section>
	<section id="inputs" class="docs section inputs">
		<div class="container">
			<div class="docs-inner">
				<h2 class="title text-center">Inputs</h2>
				<p class="description">If you select a inputType, you can show demos.</p>
				<ul class="input-list">
					{% for input in site.data.egjs.inputs %}
					 <li class="input-item {{input.name}}" onclick="showInput('{{input.name}}', this)">
						<a class="logo {{input.name}}" href="#{{input.name}}" id="{{input.name}}">
							<div class="logo-input-area">
							{% include_relative assets/html/logo/{{input.name}}.html %}
							</div>
						</a>
						<p>{{input.name}}</p>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</section>
	<section id="input" class="docs section input">
		<div class="container">
			{% for input in site.data.egjs.inputs %}
				{% include input.html input=input %}
			{% endfor %}
		</div>
	</section>
	<section id="projects" class="docs section projects">
		<div class="container">
			<div class="docs-inner">
				<h2 class="title text-center">Projects</h2>
				<ul class="project-list">
					{% for project in site.data.egjs.projects %}
					<li class="project-item">
						<a target="blank" href="{{project.url}}"><p>
							<img src="{{project.image}}">
						</p>
						<p>{{project.name}}</p></a>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</section>	
</div>
{% include footer.html %}
{% for js in site.data.egjs.js %}
	<script src="{{ js }}"></script>
{% endfor %}
<script>
	var hash = (location.hash || "#{{site.data.egjs.inputs[0].name}}").replace("#", "");
	var selectedItem = "{{site.data.egjs.inputs[0].name}}";
	var input = $(".input-list .input-item." + hash);
	var inputs = $(".input-list .input-item");
	var docs = $("#input .docs-inner");

	if (input.length > 0)  {
		selectedItem = hash;
	} else {
		input = [inputs[0]];
	}
	function showInput(name, self) {
		docs.css("display", "none");
		inputs.removeClass("checked");

		$(self).addClass("checked");
		$("#input .docs-inner." + name).css("display", "block");
	}
	showInput(selectedItem, input[0]);
</script>
</body>
</html>