#carouselWrapper {
    background-color: #333;
    height: 300px;
    padding-top: 10px;
    overflow: hidden;
    position:relative;
    touch-action: none; user-select: none; -webkit-user-drag: none;
}

.list_container {
    margin: 0 auto;
    width: 210px;
    height: 210px;
    position: relative;
    perspective: 1000px;
    touch-action: none; user-select: none; -webkit-user-drag: none;
}

#carousel {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    touch-action: none; user-select: none; -webkit-user-drag: none;
}

#carousel figure {
    margin: 0;
    padding: 20px;
    display: block;
    position: absolute;
    width: 100%;
}

#list_cd {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;  
    width: 100%;
    border-radius: 100%;
    opacity: 0.75;
}

#list_cd:before {
    content: "";
    display: block;
    padding-top: 100%;
}

#list_cd_title {
    color: white;
    text-align: center;
    padding-top: 10px;
    font-size: 0.9em;
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: nowrap;   
}

#list_cd_artist {
    color: #dadada;
    text-align: center;
    font-size: 0.75em;
}

#list_cd_hole {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 20%;
    height: 20%;
    background-color: transparent;
    border-radius: 100%;
    z-index: 2;
}

#bullet_container {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    padding-bottom: 20px;
}

.bullet {
    display: inline-block;  
    margin: 0 15px;
}

.bullet.active {
    color: #dadada;
}

@media only screen and (max-width: 480px) {
    .carouselWrapper {
        height: 240px;
    }
    .list_container {
        width: 150px;
        height: 150px;
        perspective: 700px;
    }
    .bullet {
        margin: 0 7.5px;
    }
}