.demobox {
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.demobox .container {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}
.demobox * {
    box-sizing: content-box;
}
.demobox .title {
    position: absolute;
    z-index: 2;
    left: 20px;
}
.demobox h1.title {
    top: 0px;
}
.demobox p.title {
    top: 50px;
}
[data-tooltip]:before {
    position: absolute;
    content: attr(data-tooltip);
    z-index: 10;
    font-weight: bold;
    bottom: 105%;
    text-align: center;
    border-radius: 5px;
    border: 3px solid #777;
    padding: 5px;
    display: none;
}
.demobox .container.showInfo [data-axis]:after {
    position: absolute;
    content: attr(data-axis);
    z-index: 10;
    font-weight: bold;
    bottom: 105%;
    text-align: center;
    left: -100%;
    right: -100%;
    width: 100%;
    top: 0%;
    bottom: 0%;
    margin: auto;
    height: 30px;
    color: red;
}
[data-tooltip]:hover:before {
    display: block;
}
.sun[data-tooltip]:before, .cloud[data-tooltip]:before,  .tree[data-tooltip]:before {
    bottom: auto;
    top: 100%;
}
.character.left[data-tooltip]:before, .showInfo .character.left:after {
    transform: scaleX(-1);
}
.demobox .container.showInfo .character[data-axis]:after {
    top: 110%;
}
.demobox .container {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0px;
    width: 100%;
    background: rgb(185, 231, 255);
    outline: none;
    -webkit-outline: none;
}
.broad {
    position: absolute;
    width: 100%;
    height: 200px;
    bottom:0;
    background: #75DAC6;
    z-index: 0;
    left: 0;
    border-radius: 50% / 20% 20% 0px 0px;
}
.sun {
    position: absolute;
    left: 50px;
    top: 50px;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    background: rgb(255, 234, 100);
}
.cloud {
    position: absolute;
    opacity: 0.6;
    width: 130px;
    height: 80px;
}
.cloud div {
    position: absolute;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: white;
    top: 20px;
}
.cloud .c2 {
    width: 60px;
    height: 60px;
    top: 0px;
    left: 20px;
}
.cloud .c3 {
    left: 50px;
    top: 5px;
}
.cloud .c4 {
    left: 75px;
}
.cloud .bottom {
    width: 80px;
    height: 30px;
    top: 40px;
    left: 25px;
    border-radius: 0px;
}
.tree {
    position: absolute;
    right: 20%;
    bottom: 70%;
    transform-origin: 50% 100%;
    width: 200px;
    height: 270px;
    z-index: 2;
}
.tree .trunk {
    position: absolute;
    background: #564b0e;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0px auto;
    width: 30px;
    height: 100px;
}
.tree .leaves {
    left: 0;
    right: 0;
    margin: 0px auto;
    position: absolute;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-bottom: 100px solid #7CC174;
    width: 0px;
    height: 0px;
}
.tree .leaves1 {
    bottom: 160px;
    z-index: 3;
}
.tree .leaves2 {
    bottom: 120px;
    z-index: 2;
    border-bottom-color: rgb(118, 187, 115);
}
.tree .leaves3 {
    bottom: 80px;
    border-bottom-color: #64A161;
    z-index: 1;
}
.head, .ear, .cheek, .eye, .mouth, .body, .arm, .fist, .leg, .foot {
    border: 5px solid #555;
    background: #fff;
}
.head, .eye, .eye:before, .eye:after, .mouth {
    transition: all ease 0.5s;
}
.character {
    position: absolute;
    left: 200px;
    bottom: 35%;
    width: 200px;
    height: 250px;
    z-index: 2;
}

.character .inner {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 320px;
    transform-origin: 50% 100%;
    transform: scale(0.7);
}

.character.left {
    transform: scaleX(-1);
}
.head {
    position: absolute;
    width: 150px;
    height: 140px;
    border-radius: 50% / 50% 50% 30% 30%;
    background: white;
    z-index: 2;
    left: 0;
    right: 0;
    margin: 0px auto;
    cursor: pointer;
}
.hair-front {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 70px;
    border-radius: 50% / 100% 100% 0px 0px;
    box-shadow: inset 3px 30px 0px 0px rgba(180, 180, 180, 1);
    border-bottom: 0;
    transform-origin: 50% 100%;
    z-index: 0;
}
.hair-front .hair {
    position: absolute;
    top: 25px;
    width: 15px;
    height: 40px;
    border-right: 3px solid #777;
    border-left: 0px;
    border-radius: 50% / 10% 70% 30% 10%;
    box-shadow: 5px 0px 0px 2px rgba(180, 180, 180, 1), inset -5px 0px 0px 2px rgba(180, 180, 180, 1);
}
.hair-front .hair1 {
    left: 10px;
    transform: rotate(15deg);
}
.hair-front .hair2 {
    left: 25px;
    transform: rotate(10deg);
}
.hair-front .hair3 {
    left: 40px;
    transform: rotate(5deg);
}
.hair-front .hair4 {
    left: 55px;
}
.hair-front .hair5 {
    left: 70px;
}
.hair-front .hair6 {
    left: 85px;
    transform: rotate(-5deg);
}
.hair-front .hair7 {
    left: 100px;
    transform: rotate(-10deg);
}
.hair-front .hair8 {
    left: 115px;
    transform: rotate(-15deg);
}
.baldhead .hair-front {
    display: none;
}
.character.bob .hair-front, .character.ponytail .hair-front {
    transform: scale(1.08);
}
.twintail .hair-back {
    position: absolute;
}
.twintail .hair-back .hair {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 100% 0%;
    background: #999;
    left: -100px;
    transform: rotate(-20deg);
}
.twintail .hair-back .hair:before {
    position: absolute;
    content: "";
    border-left:20px solid #777;
    border-right: 20px solid #777;
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
    left: 0;
    z-index: 1;
    left: 50%;
    margin-left: 5px;
    margin-top: -13px;
    transform: rotate(45deg);
}
.twintail .hair-back .hair1 {
    left: -8px;
    top: 133px;
}
.twintail .hair-back .hair2 {
    left: 155px;
    top: 133px;
    transform: rotate(20deg) scaleX(-1);
}
.twintail .hair-back .hair3, .twintail .hair-back .hair4 {
    display: none;
}
.ponytail .hair-front:before {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #777;
    z-index: 4;
    left: 20px;
    top: -5px;
    box-sizing:content-box;
}
.ponytail .hair-back {
    position: absolute;
    width: 60px;
    height: 80px;
    left: 0px;
    /* border-right: 5px solid black; */
    border-top: 30px solid rgba(170, 170, 170, 1);
    border-left: 30px solid rgba(170, 170, 170, 1);
    border-radius: 50% / 50% 50% 10% 0px;
}
.ponytail .hair-back:before {
    position: absolute;
    content: "";
    width: inherit;
    height: inherit;
    top: 80px;
    border-top: 20px solid rgba(170, 170, 170, 1);
    border-left: 30px solid rgba(170, 170, 170, 1);
    border-radius: 50% / 50% 50% 0% 0px;
    transform: rotate(180deg);
    left: -90px;
}
.bob .hair-back {
    position: absolute;
    top: -5px;
    background: rgba(180, 180, 180, 1);
    border: 3px solid #777;
    border-bottom: 0px;
    left: -100%;
    right: -100%;
    margin: 0px auto;
    width: 190px;
    height: 170px;
    border-radius: 50% / 70% 70% 30% 30%;
    transform: rotate(5deg);
    overflow: hidden;
}
.bob .hair-back .hair {
    position: absolute;
    width: 15px;
    height: 40px;
    border-right: 3px solid #777;
    border-left: 0px;
    border-radius: 50% / 0% 70% 30% 10%;
    bottom: 0;
}
.bob .hair-back .hair1 {
    transform: scaleX(-1);
    left: 10px;
}
.bob .hair-back .hair2 {
    transform: scaleX(-1);
    left: 30px;
}
.bob .hair-back .hair3 {
    right: 5px;
    bottom: 10px;
    transform: rotate(-10deg);
}
.bob .hair-back .hair4 {
    right: 20px;
}
.ear {
    position: absolute;
    width: 50px;
    height: 40px;
    border-radius: 50%;
    transform: rotate(40deg);
    background: inherit;
    left: -20px;
    bottom: 17px;
}
.cheek {
    position: absolute;
    width: 50px;
    height: 40px;
    border-radius: 50%;
    transform: rotate(-30deg);
    background: inherit;
    right: -10px;
    bottom: 12px;
}
.head-front, .body-front, .arm-front, .leg-front {
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background: inherit;
    z-index: 1;
}
.eyes {
    position: absolute;
    top: 45%;
    width: 100%;
}
.eye {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    left: 0;
    right: 0;
    top: 0;
    margin: 0px auto;
}
.eye:before {
    top: -20px;
    content: "";
    position: absolute;
}
.eye.left {
    right: 10%;
}
.eye.right {
    left: 50%;
}
.eye:after {
    content: "";
    position: absolute;
    width: 30px;
    height: 20px;
    top: 16px;
}
.eye.left:after {
    left: -25px;
}
.eye.right:after {
    left: 15px;
}
.mouth {
    position: absolute;
    border-radius: 50% / 0% 0% 100% 100%;
    top: 65%;
    width: 20px;
    height: 15px;
    left: 25%;
    right: 0%;
    margin: 0px auto;
    transition: all ease 0.2s;
}
.body {
    position: absolute;
    width: 80px;
    height: 140px;
    border-radius: 0% 0% 50% 50% / 0px 0px 10% 10%;
    background: #fff;
    left: 0;
    right: 0;
    top: 100px;
    margin: 0px auto;
}
.arm {
    position: absolute;
    width: 30px;
    height: 75px;
    background: #fff;
    border-radius: 15px 15px 10% 10%/ 15px 15px 50%;
    transform-origin: 50% 30px;
    top: 25px;
}
.arm.left {
    left: -20px;
    transform: rotate(40deg);
}
.arm.right {
    right: -20px;
    transform: rotate(-40deg);
}
.fist {
    position: absolute;
    background: #fff;
    border-radius: 50%;
    width: 120%;
    height: 30px;
    bottom: -12px;
    left: -100%;
    right: -100%;
    margin: 0px auto;
}
.legs {
    position: absolute;
    top: 75%;
    width: 100%;
}
.leg {
    position: absolute;
    border-top: 0;
    border-radius: 20% / 20% 20% 0px 0px;
    background: #fff;
    width: 38px;
    height: 80px;
    transform-origin: 50% 15px;
}
.leg.left {
    left: -5px;
    transform: rotate(20deg);
}
.leg.right {
    right: -5px;
    transform: rotate(-30deg);
}
.foot {
    position: absolute;
    background: #fff;
    width: 50px;
    height: 30px;
    border-radius: 50%;
    top: 80%;
    left: -10px;
    transform: rotate(10deg);
}
.character.angry .head {
    background: #f97474;
}
.character.angry .eye:before, .character.absence .eye:before {
    width: 30px;
    height: 5px;
    border-radius: 3px;
    background: #555;
    left: -100px;
    right: -100px;
    margin: 0px auto;
}
.character.angry .eye.left:before {
    transform: rotate(30deg);
}
.character.angry .eye.right:before {
    transform: rotate(-30deg);
}
.character.angry .mouth {
    border-radius: 50% / 100% 100% 0% 0%;
}
.character.absence .mouth {
    border-radius: 50% / 70% 70% 30% 30%;
}
.character.grin .eye {
    width: 20px;
    height: 2px;
    border-left: 0;
    border-right: 0;
    border-radius: 0%;
    background: transparent;
}
.character.grin .eye:after {
    background: radial-gradient(RGBA(253, 163, 155, 1.00), RGBA(253, 163, 155, 0.5), RGBA(253, 163, 155, 0) 70%);
}
.buttons {
    position: absolute;
    z-index: 2;
    right: 0;
    bottom: 0px;
    width: 100px;
    height: 50px;
}
.buttons button {
    position: absolute;
    width: 100px;
    height: 50px;
    box-sizing: border-box;
    outline: none;
    -webkit-outline: none;
    appearance: none;
    -webkit-appearance: none;
    border: none;
    background: #fff;
    font-weight: bold;
    cursor: pointer;
}
.showcase .mediaHide {
    display: none;
}
.showcase .character {
    height: 200px;
}
.showcase .character .inner {
    transform: scale(0.6);
}
@media (max-width: 800px) {
    .mediaHide {
        display: none;
    }
}