.logo.MoveKeyInput .arrow-key {
    width: 20%;
    height: 20%;
    position: absolute;
    border-radius: 5px;
    border: 2px solid #999;
    color: #999;
    text-align: center;
    left: 40%;
    top: 50%;
}
.logo.MoveKeyInput .arrow-key span {
    position: absolute;
    display: block;
    top: 0;
    width: 100%;
    bottom: 0;
    height: 20px;
    margin: auto;
}

.logo.MoveKeyInput .arrow-key.arrow-key-top {
    margin-top: -25%;
}
.logo.MoveKeyInput  .arrow-key.arrow-key-left {
    margin-left: -25%;
}
.logo.MoveKeyInput .arrow-key.arrow-key-right {
    margin-left: 25%;
}

.logo.MoveKeyInput .logo-input-area .arrow-key {
    animation: key 12s linear 0s infinite forwards;
}
.logo.MoveKeyInput .logo-input-area .arrow-key.arrow-key-top {
    animation-delay: 3s;
}
.logo.MoveKeyInput .logo-input-area .arrow-key.arrow-key-left {
    animation-delay: 6s;
}
.logo.MoveKeyInput .logo-input-area .arrow-key.arrow-key-bottom {
    animation-delay: 9s;
}
.logo.MoveKeyInput .logo-view-area .object {
    animation: move 12s ease-in-out 0s infinite forwards;
}
.logo.MoveKeyInput .object-position .object-position-x:after {
    animation: numbering 12s ease-in-out 0s infinite forwards;
}
.logo.MoveKeyInput .object-position .object-position-y:after {
    animation: numbering 12s ease-in-out 3s infinite forwards;
}
@keyframes key {
    0% {
        background: transparent;
        color: #999;
    }
    5% {
        background: #999;
        color: white;
    }
    10% {
        background: transparent;
        color: #999;
    }
}
@keyframes move {
    0% {
        left: 20%;
        bottom: 20%;
    }
    10% {
        left: 70%;
        bottom: 20%;
    }
    25% {
        left: 70%;
        bottom: 20%;
    }
    35% {
        left: 70%;
        bottom: 70%;
    }
    50% {
        left: 70%;
        bottom: 70%;
    }
    60% {
        left: 20%;
        bottom: 70%;
    }
    75% {
        left: 20%;
        bottom: 70%;
    }
    85% {
        left: 20%;
        bottom: 20%;
    }
}
@keyframes numbering {
    0% {content: "0";}
    1% {content: "1";}
    2% {content: "2";}
    3% {content: "3";}
    4% {content: "4";}
    5% {content: "5";}
    6% {content: "6";}
    7% {content: "7";}
    8% {content: "8";}
    9% {content: "9";}
    10% {content: "10";}
    50% {content: "10";}
    51% {content: "9";}
    52% {content: "8";}
    53% {content: "7";}
    54% {content: "6";}
    55% {content: "5";}
    56% {content: "4";}
    57% {content: "3";}
    58% {content: "2";}
    59% {content: "1";}
    60% {content: "0";}
}
@keyframes numbering2 {
    0% {content: "0";}
    2% {content: "1";}
    4% {content: "2";}
    6% {content: "3";}
    8% {content: "4";}
    10% {content: "5";}
    12% {content: "6";}
    14% {content: "7";}
    16% {content: "8";}
    17% {content: "9";}
    20% {content: "10";}
    50% {content: "10";}
    52% {content: "9";}
    54% {content: "8";}
    56% {content: "7";}
    58% {content: "6";}
    60% {content: "5";}
    62% {content: "4";}
    64% {content: "3";}
    66% {content: "2";}
    68% {content: "1";}
    70% {content: "0";}
}
@keyframes minus-numbering {
    0% {content: "0";}
    1% {content: "-1";}
    2% {content: "-2";}
    3% {content: "-3";}
    4% {content: "-4";}
    5% {content: "-5";}
    6% {content: "-6";}
    7% {content: "-7";}
    8% {content: "-8";}
    9% {content: "-9";}
    10% {content: "-10";}
    50% {content: "-10";}
    51% {content: "-9";}
    52% {content: "-8";}
    53% {content: "-7";}
    54% {content: "-6";}
    55% {content: "-5";}
    56% {content: "-4";}
    57% {content: "-3";}
    58% {content: "-2";}
    59% {content: "-1";}
    60% {content: "0";}
}