.logo.PinchInput .pinch {
    position: absolute;
    width: 20%;
    height: 20%;
    border-radius: 50%;
    background: #aaa;
    opacity: 0.5;
    top: 40%;
    left: 40%;
}
.logo.PinchInput .pinch-left {
    top: 45%;
    left: 35%;
}
.logo.PinchInput .pinch-right {
    left: 45%;
    top: 35%;
}
.logo.PinchInput .object {
    left: 40%;
    bottom: 40%;
    animation: zoom 6s ease-in-out 0s infinite forwards;
}
.logo.PinchInput .logo-input-area .pinch-left {
    animation: pinch-left 6s ease-in-out 0s infinite forwards;
}
.logo.PinchInput .logo-input-area .pinch-right {
    animation: pinch-right 6s ease-in-out 0s infinite forwards;
}
.logo.PinchInput .object-position .object-position-zoom:after {
    content: "1";
    animation: numbering-zoom 6s linear 0s infinite forwards;
}
@keyframes pinch-left {
    0% {
        transform: translate(0px, 0px);
    }
    20% {
        transform: translate(-100%, 100%);
    }
    50% {
        transform: translate(-100%, 100%);
    }
    70% {
        transform: translate(0px, 0px);
    }
}
@keyframes pinch-right {
    0% {
        transform: translate(0px, 0px);
    }
    20% {
        transform: translate(100%, -100%);
    }
    50% {
        transform: translate(100%, -100%);
    }
    70% {
        transform: translate(0px, 0px);
    }
}
@keyframes zoom {
    0% {
        transform: scale(1);
    }
    20% {
        transform: scale(2.2);
    }
    50% {
        transform: scale(2.2);
    }
    70% {
        transform: scale(1);
    }
}
@keyframes numbering-zoom {
    0% {content: "1";}
    2% {content: "1.1";}
    4% {content: "1.2";}
    6% {content: "1.3";}
    8% {content: "1.4";}
    10% {content: "1.5";}
    12% {content: "1.6";}
    14% {content: "1.7";}
    16% {content: "1.8";}
    17% {content: "1.9";}
    20% {content: "2";}
    50% {content: "2";}
    52% {content: "1.9";}
    54% {content: "1.8";}
    56% {content: "1.7";}
    58% {content: "1.6";}
    60% {content: "1.5";}
    62% {content: "1.4";}
    64% {content: "1.3";}
    66% {content: "1.2";}
    68% {content: "1.1";}
    70% {content: "1";}
}