.logo.WheelInput .mouse {
    position: absolute;
    width: 40px;
    height: 60px;
    border-radius: 20px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 2px solid #999;
    overflow: hidden;
}
.logo.WheelInput .mouse .wheel {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    left: 0;
    right: 0;
    bottom: 10%;
    margin: auto;
    background: #999;
}
.logo.WheelInput .logo-input-area .mouse .wheel {
    animation: wheel 6s ease-in-out 0s infinite forwards;
}
.logo.WheelInput .object {
    bottom: 70%;
    left: 40%;
    animation: wheel-reverse 6s ease-in-out 0s infinite forwards;
}
.logo.WheelInput .object-position .object-position-scroll:after {
    animation: numbering2 6s ease-in-out 0s infinite forwards;
}
@keyframes wheel {
    0% {
        bottom: 10%;
    }
    20% {
        bottom: 70%;
    }
    50% {
        bottom: 70%;
    }
    70% {
        bottom: 10%;
    }
}
@keyframes wheel-reverse {
    0% {
        bottom: 70%;
    }
    20% {
        bottom: 10%;
    }
    50% {
        bottom: 10%;
    }
    70% {
        bottom: 70%;
    }
}