#zoomWrapper {
  overflow:hidden;
  width: 100%;
  max-width: 1000px;
  /* height: 400px; */
  margin: 1px auto;
  border: 1px solid #eee;
  border-radius: 5px;
  touch-action: none; user-select: none; -webkit-user-drag: none;
}

#subway {
  max-width: none;
  transform-origin: 0 0;
  touch-action: none; user-select: none; -webkit-user-drag: none;
}
