#imageView {
  overflow:hidden;
  width: 100%;
  height: 400px;
  touch-action: none; user-select: none; -webkit-user-drag: none;

  max-width: 1280px;
  margin: 0px auto;
}
#rawImage {
  position: relative;
  left: 0;
  top: 0;
  width: 1280px;
  height: 1677px;
  touch-action: none; user-select: none; -webkit-user-drag: none;
}

#minimap {
  background:url("../image/minimap/sunflower.jpeg");
  background-size: 128px 167.7px;
  width: 128px;
  height: 167.7px;
  position: absolute;
  right: 0px;
  top: 0px;
  border: 1px solid #333;
}

#minimap-pointer {
  position: absolute;
  z-index: 1;
  border: 1px solid red;
  box-shadow: 0 0 5px #000;
  width: 12.8px;
  height: 16.77px;
}