#pull-contentWrapper {
  position:relative;
  overflow:hidden;
  border:1px solid #888;
  box-shadow:0 0 5px #000;
  width:280px; height:350px;
}

#pull-content {
  list-style:none;
  margin:0; padding:20px;
  background-color:#fff;
  position:relative; z-index:1;
}

#pull-content li {
  border:1px solid #aaa;
  padding:20px; margin:10px; font-size:2em;
}

#prepend, #append {
  position:absolute; width:100%; text-align:center; left:0; top:2em;
  font-weight:bold; font-size:1.2em;
}

#append {
  top:auto; bottom:2em;
}